@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline-red {
      -webkit-text-stroke: 1px #e35050;;
    }
    .font-outline-blue {
      -webkit-text-stroke: 1px #4a90e2;
    }
    .font-outline-green {
      -webkit-text-stroke: 1px #50e3c2;
    }
    .text-fill-color-transparent {
      -webkit-text-fill-color: transparent;
    }
    .bg-zingchart {
      background: radial-gradient(50% 124.93% at 95.86% -10%,#3efad9 0,hsla(0,0%,100%,0) 100%),linear-gradient(91.56deg,#ff9357 1.54%,#9100ff 98.71%);
    }
    .bg-clip-text {
      -webkit-background-clip: text;
    }
    .box-shadow-left {
      box-shadow: 0 1px 0 rgba(0,0,0,0.3),0 1px 6px rgba(0,0,0,0.3),inset 0 1px 1px hsla(0,0%,100%,0.3);
    }
    .header-shadow {
      box-shadow: 0 3px 5px rgba(0,0,0,0.08);;
    }
    
}

.slick-next:before,
.slick-prev:before {
  font-size: 38px !important;
}

.slick-prev {
  left: -2px !important;
  z-index: 100;
}

.slick-next {
  right: 16px !important;
  z-index: 100;
}

